# Use this file with "docker compose up" to launch services for testing persistance against.

services:
  redis:
    image: redis:7
    ports:
      - target: 6379
        published: 6379
        host_ip: 127.0.0.1

  postgres:
    image: postgres:14
    environment:
      POSTGRES_PASSWORD: "root"
      POSTGRES_DB: "groceries"
    ports:
      - target: 5432
        published: 5432
        host_ip: 127.0.0.1
