[env]
_.file = ".env"
SENTRY_DSN = "https://b7c94726c8e39af642f012583a6be274@o55858.ingest.us.sentry.io/4508903750434816"
SENTRY_ENVIRONMENT = "dev"
PORT = "3000"
URL = "http://localhost:3000"
DEV = "true"
LOG_LEVEL = "info"

REDIS_HOST = "localhost:6379"
DB_TYPE = "postgres"
DATABASE_URL = "postgresql://postgres:root@127.0.0.1:5432/{{vars.filename}}"
GOOSE_DRIVER = "postgres"
GOOSE_DBSTRING = "postgresql://postgres:root@127.0.0.1:5432/{{vars.filename}}"
GOOSE_MIGRATION_DIR = "./internal/db/migrations"

[tools]
go = "1.25.1"

[vars]
filename = 'groceries'

[tasks.default]
description = "Execute the app in development mode"
depends = ["dependencies", "test", "lint", "build"]
run = ["./{{vars.filename}}"]

[tasks.build]
description = "Build the server binary"
depends = ["dependencies"]
sources = ["internal/**/*.go", "main.go", "go.*"]
outputs = ["./{{vars.filename}}"]
env.CGO_ENABLED = "0"
run = ["go build -o ./{{vars.filename}}"]

[tasks.dependencies]
description = "Download static assets for building into the binary"
run = [
    "go mod download",
    "curl --fail --silent --location --output internal/server/assets/htmx.dist.js https://unpkg.com/htmx.org@2.0.0",
    "curl --fail --silent --location --output internal/server/assets/htmx-sse.dist.js https://unpkg.com/htmx-ext-sse@2.2.2",
]

[tasks.test]
description = "Unit tests"
depends = ["dependencies"]
env.DEV = "false"
env.CGO_ENABLED = 1                                    # Required for -race
run = ["go test -race -covermode=atomic -cover ./..."]

[tasks.seed]
description = "Populate the database with seeds"
depends = []
env.GOOSE_MIGRATION_DIR = "./internal/db/seeds"
run = ["go tool goose --no-versioning up"]

[tasks.lint]
depends = ["dependencies"]
run = ["go vet ./...", "go tool staticcheck ./..."]
