<input type="hidden"
    name="id"
    value="{{ if .ID }}{{.ID}}{{ end }}"
/>
<input type="text"
    name="name"
    placeholder="Category Name"
    minlength="3"
    maxlength="255"
    required
    autofocus
    value="{{ if .Name }}{{.Name}}{{ end }}"
/>
<input type="text"
    name="description"
    placeholder="Description"
    value="{{ if .Description }}{{.Description}}{{ end }}"
/>
