{{ with .Category}}
<input type="hidden"
    name="id"
    value="{{.ID}}"
/>
<input type="text"
    name="name"
    placeholder="Category Name"
    minlength="3"
    maxlength="255"
    required
    autofocus
    value="{{.Name}}"
/>
<input type="text"
    name="description"
    placeholder="Description"
    value="{{.Description}}"
/>
{{ end }}
