{{ template "header.gohtml" . }}

<main class="responsive">
    <article class="large-blur">
        <h2>{{ if .Title }}{{ .Title }}{{ else }}Error{{ end }}</h2>

        <code>{{ .Message }}</code>
    </article>
</main>

{{ template "footer.gohtml" . }}
