    <footer class="container-fluid">
      <nav>
        <ul>
          <li>© 2025 @taiidani</li>
        </ul>
        <ul>
          <li>
            <a href="https://github.com/taiidani/groceries" alt="View on GitHub">
              <i class="bi bi-github"></i>
            </a>
          </li>
        </ul>
      </nav>
    </footer>

    <script src="/assets/htmx.dist.js"></script>
    <script src="/assets/htmx-sse.dist.js"></script>
</body>

</html>
