    <footer class="fill">
      <nav>
        <span class="max">© 2025 @taiidani</span>
        <button class="transparent"><a href="https://github.com/taiidani/groceries" alt="View Source"><i>code</i></a></button>
      </nav>
    </footer>

    <script src="/assets/htmx.dist.js"></script>
    <script src="/assets/htmx-sse.dist.js"></script>
</body>

</html>
