{{ template "header.gohtml" . }}

<main class="container" sse-connect="/sse" sse-close="close">
    <section>
        <article id="itemAdder" hx-get="/bag" hx-trigger="load, sse:bag"></article>
    </section>

    <section id="shopping-list">
        <article id="list" hx-get="/list" hx-trigger="load, sse:list"></article>
        <article id="cart" hx-get="/cart" hx-trigger="load, sse:cart"></article>
    </section>
</main>

{{ template "footer.gohtml" . }}
