{{ if .Name }}<h3>{{.Name}}</h3>{{ end }}

<input type="hidden"
    name="id"
    value="{{ if .ID }}{{.ID}}{{ end }}"
/>
<input type="text"
    name="quantity"
    placeholder="Quantity"
    value="{{ if .Quantity }}{{.Quantity}}{{ end }}"
/>
